<script src="//maps.google.com/maps/api/js?v=3.exp&amp;sensor=true&amp;key=<%=Rails.application.config.maps_key%>" type="text/javascript"></script>

<div id="fm-map" class="fm-map" data-markers-data="<%=@hash.to_json%>"></div>

<div class="fm-filterbox panel panel-default small">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#filterbox-content" class="collapse-link">
          <i class="js-collapse-handler glyphicon glyphicon-chevron-down"></i>
          <b class="filter-title">Find an event to attend.</b>
        </a>
    </div>

    <div id="filterbox-content" class="panel-collapse in">
      <div class="panel-body">

        <%= form_tag(
              {:controller => "events", :action => "search"}, 
              :method => "get", :class =>"form-horizontal js-search-form") do %>

          <div class="form-group">
              <label for="date_range" class="col-xs-2 control-label">Date</label>
              <div class="col-xs-7 input-group input-group-sm">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>
                <input type="text" class="form-control js-date-range" name="date_range" placeholder="">
              </div>
          </div> 

          <hr>

          <div class="form-group">
            <label for="input-category" class="col-xs-2 control-label">Category</label>
            <div class="col-xs-10 js-category">

              <div class="clearfix">
                <% for category in @top_categories[0..2] %>
                  <label class="checkbox-inline">
                    <input name="categories[]" value="<%=category[:id]%>" type="checkbox"/> 
                    <%=category[:title]%>
                  </label>
                <% end %>
              </div>

              <div class="js-more-categories clearfix" style="display: none">
                <hr>
                <% for category in @top_categories[3..@top_categories.length] %>
                  <label class="checkbox-inline">
                    <input name="categories[]" value="<%=category[:id]%>" type="checkbox"> <%=category[:title]%>
                  </label>
                <% end %>
              </div>

            </div>

            <button type="button" class="btn btn-sm btn-link btn-default js-more-btn">more</button>

          </div>

          <hr>
          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <button type="submit" class="btn btn-sm btn-primary js-search-btn">Search</button>
            </div>
          </div>

        <% end %>

      </div>
    </div>
</div>